




{{ form_start(form) }}
    {{ form_widget(form) }}
<button   href="{{ path('comment_index', {'id': commentaire.id})}}" style ="color:white" class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
