
{% extends 'aycha/test/baseFront.html.twig' %}



{% block title %}<title>Edit Commentaire</title>{% endblock %}

{% block content %}
    <style>
        label{
            color:white;
        }
        button {
            color:white;
        }
    </style>
    <h1>Edit Commentaire</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button href="{{ path('comment_index', {'id': commentaire.getArticle().getId()})}}" style ="color:white" class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

   


{% endblock %}
