{% extends "livraison/AjouterLivraison.html.twig" %}
{% block content %}

 <div class="brd" mt-3>
                                    <style contenteditable>
  .brd {
    border: 5px solid black;
   
  }
</style>
                                

                               <div class="column"> NOM: {{ l.name }} </div>
                               <div class="column">   prenom :  {{ l.prenom }}  </div>
                                 <div class="column">  note : {{ l.rating }}  </div>
                                  <div class="column">    zone : {{ l.zone }} </div>
                                 <div class="column">  <img id="img"  class="card-img-top img-fluid w-25" src="/uploads/{{l.image}}"> </div>
                                  <div class="column">   <a href="{{ path("ajouterL",{'cin':l.cin}) }}">Ajouter une livraison</a> </div>
                                 

                                                                </div> 
                                                                <div class="ho"> <style> .ho {padding-top: 20px;}
  </style>
 </div>  
{% endblock %} 