{% extends 'nabil/baseFront.html.twig'%}
 
{% block content %}
   
 <br><br><br><br><br><br><br>
 <div class="sidebar-search">
      <div class="input-group custom-search-form">
          <input type="text" id="search" class="form-control" placeholder="chercher...">
      </div>
          <!-- /input-group -->
  </div>
  <ul class="nav" id="side-menu">
      <li>
         
          <ul class="nav nav-second-level" id="entitiesNav">
          </ul>
      </li>
  </ul>
    <br><br>
        <h1>Choisir un livreur</h1>
 <br><br><br>                     
                                  
                                                                    {% for l in livreur %}
                                                                      <div class="brd" mt-3>
                                    <style >
  .brd {
    border: 5px solid black;
   
  }
</style>
                                

                               <div class="column"> NOM: {{ l.name }} </div>
                               <div class="column">   prenom :  {{ l.prenom }}  </div>
                                 <div class="column">  note : {{ l.rating }}  </div>
                                  <div class="column">    zone : {{ l.zone }} </div>
                                 <div class="column">  <img id="img"  class="card-img-top img-fluid w-25" src="/nabil/uploads/{{l.image}}"> </div>
                                  <div class="column">   <a href="{{ path("ajouterL",{'cin':l.cin}) }}">Ajouter une livraison</a></div>
                                 

                                                                </div> 
                                                                <div class="ho"> <style> .ho {padding-top: 20px;}</style></div> 
  <br>
   <br>
    <br> 

              {% endfor %}
                                           
              
              
            
    
        
        
       
      
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 

<script type="text/javascript">
    jQuery(document).ready(function() {
        var searchRequest = null;
        $("#search").keyup(function() {
            var minlength = 3;
            var that = this;
            var value = $(this).val();
            var entitySelector = $("#entitiesNav").html('');
            if (value.length >= minlength ) {
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('ajax_search') }}",
                    data: {
                        'q' : value
                    },
                    dataType: "text",
                    success: function(msg){
                        //we need to check if the value is the same
                        if (value==$(that).val()) {
                            var result = JSON.parse(msg);
                            $.each(result, function(key, arr) {
                                $.each(arr, function(id, value) {
                                    if (key == 'Livreur') {
                                        if (id != 'error') {
                                            entitySelector.append('<li><b>' + value[0] + '</b><a href="/list/' + id + '">' + '<img src="/uploads/' + value[1] + '" style="width: 50px; height: 50px"/>' + '</a></li>');
                                        } else {
                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                        }
                                    }
                                });
                            });
                        }
                     }
                });
            }
        });
    });
</script>
             {{ knp_pagination_render(livreur) }} 
            <a href="{{ path("front") }}">Annuler</a>
    </body>
{% endblock %}
 {% block payment %}
 {% endblock %}
 