<!DOCTYPE html>

<title>Livreur</title>


    <h1>Livreur</h1>
    
    <table class="table" border="1">
        <thead>
            <tr>
                <th>method</th>
                                            <th>idclient</th>
                                            <th>adresseclient</th>
                                            <th>cinlivreur</th>
                                             <th>etat</th>
                                            <th>l.idprod</th>
                                           
            </tr>
        </thead>
        <tbody>
        {% for l in livraison %}
            <tr>
               <td>{{ l.method }}</td>
                                    <td>{{ l.idclient }}</td>
                                    <td>{{ l.adresseclient }}</td>
                                    <td> {{ l.cinlivreur }}</td>
                                    <td> {{ l.etat }}</td>
                                    <td>{{ l.idprod }}</td>
               
                
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>