<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Dashboard - SB Admin{% endblock %}</title>
        {% block stylesheet %}
            <link href="{{asset('https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css')}})" rel="stylesheet" />
            <link href="{{asset('Back/css/styles.css')}}" rel="stylesheet" />
        {% endblock %}
        {% block css %}
        <!-- Icons font CSS-->
        <link href="{{ asset('Back/vendor1/mdi-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" media="all">
        <link href="{{ asset('Back/vendor1/font-awesome-4.7/css/font-awesome.min.css') }}" rel="stylesheet" media="all">
        <!-- Font special for pages-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    
        <!-- Vendor CSS-->
        <link href="{{ asset('Back/vendor1/select2/select2.min.css') }}" rel="stylesheet" media="all">
        <link href="{{ asset('Back/vendor1/datepicker/daterangepicker.css') }}" rel="stylesheet" media="all">
    
        <!-- Main CSS-->
        <link href="{{ asset('Back/css1/main.css') }}" rel="stylesheet" media="all">
        {% endblock %}
    
        <style>
            button {
                color:white;
            }
    
            h2{
                text-align:center;
            }
        </style>
    
    
    
    
    </head>
    <body class="sb-nav-fixed">
    {% block body %}
    
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="back">TheAces</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="back">
                            <div  class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Reclamation
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="ajouter2">Ajouter</a>
                                <a class="nav-link" href="back">Afficher</a>
    
                            </nav>
                        </div>
                        
                        
                </div>
                
            </nav>
        </div>
        <main>
    
    
    
    
    
        </main>
    
        {% endblock %}
        {% block footer %}
    
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
    
                </div>
            </footer>
        {% endblock %}
    </div>
    </div>
    {% block js %}
    
    
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Add Complaint</h2>
                    
                        {{ form_start(ajouterForm,{'attr': {'novalidate': 'novalidate'}} ) }}
                        <div class="input-group">
                            {{ form_widget(ajouterForm.description, {'attr': {'class': 'input--style-3'}}) }}
                        </div>
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                {{ form_widget(ajouterForm.target, {'attr': {'class': 'rs-select2 js-select-simple select--no-search'}}) }}
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                {{ form_widget(ajouterForm.method_remb, {'attr': {'class': 'rs-select2 js-select-simple select--no-search'}}) }}
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="p-t-10">
                            {{ form_widget(ajouterForm.save) }}
                        </div>
                        {{ form_end(ajouterForm) }}
                        {{ form_rest(ajouterForm) }}
                    
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    
    
    
        
          </div></div>
            </div>
        </div>
    </div>
    
        </CENTER>
    
    
    
    
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="Back/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="Back/assets/demo/chart-area-demo.js"></script>
        <script src="Back/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="Back/js/datatables-simple-demo.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <!-- Jquery JS-->
        <script src="{{ asset('Back/vendor1/jquery/jquery.min.js' )}}"></script>
        <!-- Vendor JS-->
        <script src="{{ asset('Back/vendor1/select2/select2.min.js') }}"></script>
        <script src="{{ asset('Back/vendor1/datepicker/moment.min.js') }}"></script>
        <script src="{{ asset('Back/vendor1/datepicker/daterangepicker.js') }}"></script>
    
        <!-- Main JS-->
        <script src="{{ asset('Back/js1/global.js') }}"></script>
    {% endblock %}
    
    </body>
    </html>