{% extends 'aycha/test/baseFront.html.twig' %}

{% block content %}
    <style>
        .search input[type=text]{
            width:300px;
            height:25px;
            border-radius:25px;
            border: none;
        }
    .search{
    float:right;
    margin:7px;
    }

    .search button{
    background-color: #0074D9;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    }






        .img        {
            cursor: url("https://cur.cursors-4u.net/mechanics/mec-5/mec467.cur"), auto;


            flex-grow: 1;
            box-sizing: border-box;
            padding: 10px 2px;

        &:nth-child(odd) {
             background: #eee;
         }
        &:hover {
             opacity: 0.25
         }
        }

        .third {
            border-color: #3498db;
            color: #fff;
            box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
            -webkit-transition: all 150ms ease-in-out;
            transition: all 150ms ease-in-out;
        }
        .third:hover {
            box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
        }

.a:hover{
    color:white;
}

        .btn-12{
            position: relative;
            right: 20px;
            bottom: 20px;
            border:none;
            box-shadow: none;
            width: 130px;
            height: 40px;
            line-height: 42px;
            -webkit-perspective: 230px;
            perspective: 230px;
        }
        .btn-12 span {
            background: rgb(0,172,238);
            background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
            display: block;
            position: absolute;
            width: 130px;
            height: 40px;

            7px 7px 20px 0px rgba(0,0,0,.1),
            4px 4px 5px 0px rgba(0,0,0,.1);
            border-radius: 5px;
            margin:0;
            text-align: center;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s;
            transition: all .3s;
        }
        .btn-12 span:nth-child(1) {
            box-shadow:
                    -7px -7px 20px 0px #fff9,
                    -4px -4px 5px 0px #fff9,
                    7px 7px 20px 0px #0002,
                    4px 4px 5px 0px #0001;
            -webkit-transform: rotateX(90deg);
            -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
            -webkit-transform-origin: 50% 50% -20px;
            -moz-transform-origin: 50% 50% -20px;
            transform-origin: 50% 50% -20px;
        }
        .btn-12 span:nth-child(2) {
            -webkit-transform: rotateX(0deg);
            -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
            -webkit-transform-origin: 50% 50% -20px;
            -moz-transform-origin: 50% 50% -20px;
            transform-origin: 50% 50% -20px;
        }
        .btn-12:hover span:nth-child(1) {
            box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
            7px 7px 20px 0px rgba(0,0,0,.1),
            4px 4px 5px 0px rgba(0,0,0,.1);
            -webkit-transform: rotateX(0deg);
            -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
        }
        .btn-12:hover span:nth-child(2) {
            box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
            7px 7px 20px 0px rgba(0,0,0,.1),
            4px 4px 5px 0px rgba(0,0,0,.1);
            color: transparent;
            -webkit-transform: rotateX(-90deg);
            -moz-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
        }


        .custom-btn {
            width: 130px;
            height: 40px;
            color: #fff;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;

            box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
            7px 7px 20px 0px rgba(0,0,0,.1),
            4px 4px 5px 0px rgba(0,0,0,.1);
            outline: none;
        }

        .neon-text {
            $random-text: 'underlying wire';
            position: relative;
            $stroke-width: $extra-large * 0.05;
            font-family: 'Pacifico', cursive;
            text-transform: uppercase;
            font-size: $extra-large;
            color: lighten($pink, 25%);
            -webkit-text-stroke-width: $stroke-width;
            -webkit-text-stroke-color: lighten($pink, 5%);
            @include center;
            text-shadow: 0 0 40px lighten($pink, 5%),
            0 0 40px lighten($pink, 5%),
            0 0 40px lighten($pink, 5%);
        &:after {
             content: $random-text;
             z-index: -1;
             position: absolute;
             color: transparent;
             -webkit-text-stroke-width: $stroke-width;
             -webkit-text-stroke-color: darken($pink, 40%);
             top: -5%;
             left: -0.5%;

         }
        }
    </style>



    <section class ="img" class="blog_area">
    <div class="container">
    <div class="row">
        {% for a in articlegames %}

    <div class="col-lg-8">
    <div class="blog_left_sidebar">
    <article class="row blog_item">
        <div class="col-md-3">
            <div class="blog_info text-right">
                <div class="post_tag">

                </div>
                <ul style="color:floralwhite" class="blog_meta list">

                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="blog_post">
                <img class="img" src={{asset('aycha/uploads/images/'~a.imagearticle)}}>
                <div class="blog_details">
                    <a href="single-blog.html"><h2 class="neon-text" style="color:white" >{{ a.titre|upper}}</h2></a>
                    <p>{{ a.contenu }}</p>
                    <p>{{ a.datecreation  }}</p>

                    <a class="custom-btn btn-12" style="color:white" href="/comment/new1/{{a.id}}" class="blog_btn"><span style="color:white">Click!</span><span span style="color:white">Read More</span></a>
            </div>
        </div>

    </article>
    </div>


    </div>

        {% endfor%}
    </div>


    </section>


{%  endblock %}