{% extends 'aycha/test/baseFront.html.twig' %}

{% block content %}
    <style>
        label{
            color:white;
        }
 button {
  min-width: 20px;
  min-height: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-align:center;

  letter-spacing: 1.3px;
  font-weight: 400;
  color: #313133;
  background: ;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 20px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }



.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 50%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 100px;
    opacity: 0;
  }
}



.thing {
  padding: 1rem;
  width: 420px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
  background-color: #ffffff;
  border-radius: 0.5rem;

  border-left: 0 solid #00ff99;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.thing:hover {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #00ff99;
}

.thing > :first-child {
  margin-top: 0;
}

.thing > :last-child {
  margin-bottom: 0;
}

.heading {
  color: #fff;
}










#login { display: none; }
.login,
.logout {
    position: absolute;
    top: -3px;
    right: 0;
}
.page-header { position: relative; }
.reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}
.custom-input-file:hover .uploadPhoto { display: block; }



hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}
a {
    color: #82b440;
    text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.blog-comment{
    padding-left: 15%;
	padding-right: 15%;
}

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}

.blog-comment img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	  	 -o-border-radius: 4px;
			border-radius: 4px;
}

.blog-comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}

.blog-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}

.blog-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.blog-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
}

.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }



#blueDIV {
  position:absolute;
  width:100px;


  right: 240px;
}
#blueDIV1 {
  position:absolute;
  width:100px;


  right: 140px;
}
#blueDIV2 {
  position:absolute;
  width:100px;


  right: 40px;
}

    </style>


    <section class="blog_area">
        <div class="container">
            <div class="row">
                {% for i in range(0,60) %}
                   {% if afficherx is defined %}
                    {% if afficherx.id==i %}
                        <div class="col-lg-8">
                            <div class="blog_left_sidebar">
                                <article class="row blog_item">
                                    <div class="col-md-3">
                                        <div class="blog_info text-right">
                                            <div class="post_tag">

                                            </div>
                                            <ul style="color:floralwhite" class="blog_meta list">

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="blog_post">
                                            <img src={{asset('aycha/uploads/images/'~afficherx.imagearticle)}}>
                                            <div class="blog_details">
                                                <a href="single-blog.html"><h2 style="color:white">{{ afficherx.titre|upper}}</h2></a>
                                                <p>{{ afficherx.contenu }}</p>
                                                <p>{{ afficherx.datecreation}}</p>





 <section >
  <div class="container">




        <br>

            <h3 style="color:papayawhip">Comments</h3>





            <table border="2"  class="container">

                </thead>
                <tbody>
                {% if ListC is defined %}
            {% for commentaire in ListC %}


                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">


                                </div>

                            </div>
                        </div>

<div class="desc" >
<div class="thing">

                                <p class="comment" style="color:black">{{ commentaire.contenu }}</p>

                                </div>


                 <div id="myDIV">
{# <a id="blueDIV" onclick="myFunction()"  style="background-color: lightgreen" class="btn btn-info btn-circle text-uppercase">Reply</a>#}

 <span class="glyphicon glyphicon-ok"></span>

                      <a id="blueDIV1" style="background-color: lightgoldenrodyellow" class="btn btn-info btn-circle text-uppercase"  href="{{ path('comment_edit', {'id': commentaire.id}) }}  "> Edit</a>
                        <a id="blueDIV2"style='background-color: #58111A; color:black;' class="btn btn-info btn-circle text-uppercase"  href="{{ path('supprimercomm4', {'id': commentaire.id}) }}"> <span style='font-size:12px; text-align: center;'>&#10060;</span>Remove</a>

<br>
<br>

</div>
                                </td>

                            </tr>


                        </div>
                        {% endfor%}
                {% endif%}
                </tbody>
            </table>
                     </div>
                  </div>
<br>
        <br>
        <br>
        <div class="see">


       <h3 style="color:papayawhip">Leave a Reply</h3>






                                                {{ form_start(form ,{'attr': {'novalidate': 'novalidate'}} )}}

                                                <textarea class="form-control" rows="4"{{ form_widget(form.contenu) }}></textarea>
                                                <br>
                                                <button   href="{{ path('comment_new1', {'id': afficherx.id})}}" style ="color:white" class="btn">{{ button_label|default('Save') }}</button>
                                                {{ form_end(form) }}


                                               </div>



                    </article>


                </div>


                </div>


        </div>




  </section>




















                                            </div>
                                        </div>
                                    </div>

                                </article>
                            </div>


                        </div>
                    {% endif %}
                     {% endif %}
                {% endfor%}
            </div>


    </section>




















{%  endblock %}
