{% extends 'baseFront.html.twig' %}

{% block content %}

    <section class="blog_area">
        <div class="container">
            <div class="row">
                {% for a in afficherdetail %}
                    {% if a.titre=="Games test"%}
                        <div class="col-lg-8">
                            <div class="blog_left_sidebar">
                                <article class="row blog_item">
                                    <div class="col-md-3">
                                        <div class="blog_info text-right">
                                            <div class="post_tag">

                                            </div>
                                            <ul style="color:floralwhite" class="blog_meta list">

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="blog_post">
                                            <img src="{{asset('Blog/img/blog/main-blog/gallery_item_5.png')}}" alt="">
                                            <div class="blog_details">
                                                <a href="single-blog.html"><h2 style="color:white">{{ a.titre|upper}}</h2></a>
                                                <p>{{ a.contenu }}</p>
                                                <p>{{ a.dateCreation |date('d-m-Y') }}</p>
                                                <p>{{ a.imagearticle}}</p>
                                                <a href="blogdetail" class="blog_btn">View More</a>
                                            </div>
                                        </div>
                                    </div>

                                </article>
                            </div>


                        </div>
                    {% endif %}
                {% endfor%}
            </div>


    </section>


{%  endblock %}