{% extends 'mariem/baseFront.html.twig' %}
{% block title %} Elment {% endblock %}



{% block body %}
    <div class="browser section container" id="browser">
        {% for element in element %}
            <div class="ItemCard grid browserOne">
                <div class="cardText">
                    <div class="cardPrice">
                        <small>Starting from ...</small>
                        <div class="price">
                            <span class="previous" style="color: grey; margin-right: 25px"> <span> {{ element.prix }}$ </span> </span>
                        </div>
                    </div>
                    <div class="itemNameDiv">
                        <span class="name">{{ element.nom }}</span>
                        <div class="cartButton">
                            <i class="uil uil-minus-circle icon"></i>
                            <span><a href="{{ path('element_showFront',{'id':element.id}) }}"> Browse </a></span>
                        </div>
                    </div>
                </div>

                <div class="itemImage">
                    <img src="{{ asset('uploads/images/'~element.image) }}" height="100px" width="250px"
                         alt="Mice Image">
                </div>
            </div>
        {% endfor %}


    </div>
    <!-- xxxx -->

    <!-- ===============Featured Items===================================== -->

    <div class="featured section container" id="features">
        <div class="sectionTop ">
            <div class="introText ">
                <h2 class="sectionTitle">
                    Featured Gears
                </h2>
                <p> Here are some of the features items to enhace you gaming experience. You deserve great gear for
                    unforgattable experience! </p>
            </div>
            <div class="cartButton">
                <i class="uil uil-minus-circle icon"></i>
                <span>Browse</span>
            </div>
        </div>

        <div class="sectionBody swiper">
            <div class="swiper-wrapper">
                <div class="sectionItem swiper-slide">
                    <div class="itemImageDiv">
                        <img src="{{ asset('Front/Images/earpod.png') }}" alt="Image">
                    </div>
                    <div class="itemDetails">
                        <span class="name">Earpod</span>
                        <small>Wireless</small>
                        <span class="itemPrice">$ 69.01</span>
                    </div>
                    <div class="cartButton" id="itemToCart">
                        <i class="uil uil-plus-circle icon"></i>
                        <span>Add To Cart</span>
                    </div>
                </div>
                <div class="sectionItem swiper-slide">
                    <div class="itemImageDiv">
                        <img src="{{ asset('Front/Images/computer2.png') }}" alt="Image">
                    </div>
                    <div class="itemDetails">
                        <span class="name">Laptop</span>
                        <small>Gaming Laptop</small>
                        <span class="itemPrice">$ 1,228</span>
                    </div>
                    <div class="cartButton" id="itemToCart">
                        <i class="uil uil-plus-circle icon"></i>
                        <span>Add To Cart</span>
                    </div>
                </div>
                <div class="sectionItem swiper-slide">
                    <div class="itemImageDiv">
                        <img src="{{ asset('Front/Images/keyboard.png') }}" alt="Image">
                    </div>
                    <div class="itemDetails">
                        <span class="name">Moucepad</span>
                        <small>Smooth rubber</small>
                        <span class="itemPrice">$ 19.31</span>
                    </div>
                    <div class="cartButton" id="itemToCart">
                        <i class="uil uil-plus-circle icon"></i>
                        <span>Add To Cart</span>
                    </div>
                </div>
                <div class="sectionItem swiper-slide">
                    <div class="itemImageDiv">
                        <img src="{{ asset('Front/Images/gaming chair.png') }}" alt="Image">
                    </div>
                    <div class="itemDetails">
                        <span class="name">Gaming Chair</span>
                        <small>Extendable</small>
                        <span class="itemPrice">$ 494.51</span>
                    </div>
                    <div class="cartButton" id="itemToCart">
                        <i class="uil uil-plus-circle icon"></i>
                        <span>Add To Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}