
<!DOCTYPE html>
<html lang="en">
<head>


    <title>Personal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Free HTML5 Template plus Photoshop design">
    <meta name="keywords" content="free html template, portfolio, html5, sass, jquery">
    <meta name="author" content="Bucky Maler">
    {% block stylesheet %}
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
              rel="stylesheet">

    {% block css %}
        <link rel="stylesheet" href="{{asset('amal/Front/main.css')}} ">
        <link rel="stylesheet" href="{{asset('https://unicons.iconscout.com/release/v4.0.0/css/line.css')}} ">
        <link rel="stylesheet" href="{{asset('amal/Front/swiper-bundle.min.css')}}">
        <link rel="stylesheet" href="{{asset('amal/Front/css/bootstrap.min.css')}} " type="text/css">
        <link rel="stylesheet" href="{{asset('amal/Front/css/font-awesome.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('amal/Front/css/elegant-icons.css)')}}" type="text/css">
        <link rel="stylesheet" href="{{asset ('amal/Front/css/plyr.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('amal/Front/css/nice-select.css')}}" type="text/css">

        <link rel="stylesheet" href="{{asset('amal/evenement/assets/css/main.css')}}">


    {% endblock %}

    {% endblock %}
    <style>
        .body {
            background-color: #23232f;
        }
    </style>
    <style>
        button {
            color:white;
        }

        h2{
            text-align:center;
        }
    </style>
</head>

{% block body %}
<body class="body">
<header class="header " id="header">
    <div class="logoDiv">
        <a href="#home"> <i class="uil uil-pagerduty icon logoIcon"></i></a>
    </div>
    <div class="navBar" id="navBar">
        <ul class="navLists">
            <li class="navItem"><a href="/testaa" class="navLink">Home</a></li>
            <li class="nav-item dropdown" class="navItem">
                <a  style="color:white" class="nav-link dropdown-toggle" class="navLink" href="" id="navbarDropdown"
                    role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Blog
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/comment/aycha"> Games</a>
                    <a class="dropdown-item" href="/comment/voir">Tournoi</a>
                    <a class="dropdown-item" href="/comment/produit">Product</a>
                    <a class="dropdown-item" href="/comment/livreur">Deliverer</a>
                    <a class="dropdown-item" href="/comment/aycha1">All Blogs</a>
                </div>
            </li>
            <li class="navItem"><a href="/tournoi/list" class="navLink">Our Event</a></li>
            <li class="navItem"><a href="{{ path('afficherElementFront') }}" class="navLink">Our Products</a></li>
        </ul>
        <div class="closeIconDiv" id="closeIcon">
            <i class="uil uil-times-circle icon closeIcon"></i>
        </div>

    </div>
    <div class="toggleIconDiv" id="toggleIcon">
        <i class="uil uil-ellipsis-h icon"></i>
    </div>
    <div class="accCart">
        <div class="accDiv dropdown">
            <i class="uil uil-user-circle icon  userIcon dropbtn"></i>
            <div class="dropdown-content">
                <a href="/afficherrec">My Complaints</a>
            </div>
            <div class="plainName">TheAces</div>

        </div>
        <div class="cartDiv" id="cartIcon">
            <i class="uil uil-shopping-bag icon" ></i>
        </div>

        <div class="themeIconDiv" id="themeIconDiv">
            <i class="uil uil-sun icon"></i>
        </div>
    </div>
</header>
<br>
<br>
<br>
{% block content %}

    <!-- END SECTION: Work -->
    <section id="blog" class="blog">
        <!-- SECTION: Blog -->
        <div class="row" style="display: flex;align-items: center;justify-content: center">
            <a href="{{ path('tournoi_top') }}"><button>Top 5 Tournois</button></a>

        </div>

        <h2 class="blog__heading title">Tournament Posts</h2>
        <div class="blog__wrapper wrapper--large">

          {% for tournoi in tournois %}
            <article class="blog__post">
                <div class="blog__post-thumbnail">
                    <img src="{{ asset('amal/uploads/image/'~tournoi.image~'.jpg') }}" height="300px" width="400px" alt="Man viewing work plans">
                </div>
                <div class="blog__post-excerpt">
                    <h3>{{ tournoi.name }}</h3>
                   <p>{{ tournoi.dateDebut ? tournoi.dateDebut|date('Y-m-d') : '' }}</p>
                   <p>{{ tournoi.dateFin ? tournoi.dateFin|date('Y-m-d') : '' }}</p>
                    <p>Place disponible : {{tournoi.nbparticipant}}</p>
                    {% if(tournoi.nbparticipant > 0 )%}
                    <a class="transform-link" href="{{path('tournoi_participer', {'id': tournoi.id})}}">Participer</a>
               
                    {% else %}
                    <p style="color:red">Complet</p>
                    {% endif %}
                </div>
            </article>
   {% endfor %}
        </div>

    </section>
    <!-- END SECTION: Blog -->

</main>
{% endblock %}
<!-- SECTION: Footer -->
{% block footer %}
<footer class="footer">
    <div class="footer__wrapper wrapper--large">
        <p class="footer__copyright no-margin">&copy; 2016 James Martin</p>
        <a class="footer__logo logo" href="#0">JM</a>
        <a class="footer__arrow" href="#top">
            <svg class="footer__arrow-el" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 130 65" xml:space="preserve" enable-background="new 0 0 130 65"><g transform="translate(0.000000,65.000000) scale(0.100000,-0.100000)"><path d="M315.4 365c-336-305-345-315-290-351 18-12 32-14 45-8 10 5 145 123 300 262l281 253 196-178c108-98 237-215 287-260 50-46 98-83 107-83s27 9 40 19c20 16 22 23 14 46 -12 33-623 585-647 585C638.4 650 489.4 522 315.4 365z"/></g></svg>
        </a>
    </div>
</footer>
{% endblock %}
<!-- END SECTION: Footer -->
{% block js %}
<script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js') }}"></script>
<!-- jQuery local fallback -->
<script>window.jQuery || document.write('<script src= " {{ asset('amal/evenement/assets/js/vendor/jquery-2.2.4.min.js')}} "><\/script>')</script>
<script src="{{ asset('amal/evenement/assets/js/functions-min.js') }}"></script>


    <script src="{{asset('amal/Front/swiper-bundle.min.js')}}"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{{asset('amal/Front/main.js')}}"></script>

{% endblock %}


{% endblock %}

</body>
</html>
